<section class="section">
  <div class="l-container is--min-100vh">
    <div class="index-friends">
      <div class="top-elements">
        <div class="top-elements__back-done">
          <a href="#" class="top-elements__btn-left w-inline-block">
            <%= image_tag "icon-search.svg", alt: "search friends", class: "top-elements__btn-icon", loading: "lazy" %>
          </a>

          <a href="#" class="top-elements__btn is--friend-invite w-inline-block">
            <%= link_to new_activity_participant_path(@activity) do %>
              <%= image_tag "icon-invite.svg", alt: "invite friends", class: "top-elements__btn-icon", loading: "lazy" %>
              <div class="top-elements__btn-text is--invite-friends">Invite friends</div>
            <% end %>
          </a>

        </div>
        <div class="top-elements__title" data-add_participant-target="count">Participants <%= @participants.count %></div>
      </div>
    <div class="friends">
      <% @participants.each do |participant| %>
        <%= link_to profile_path(participant.user.id), class: "friends__box w-inline-block" do %>
          <div class="friends__img-wrp">
            <%= cl_image_tag(participant.user.photo.key, alt: "friend profile image", class: "friends__img", loading: "lazy") %>
          </div>
            <div class="friends__content-wrp">
              <div class="friends__title"><%= participant.user.first_name %> <%= participant.user.last_name %></div>
              <div class="friends__subheadline">2 activities in common
              <br>
                Total activities from <%= participant.user.username %>
              <br>
              </div>
            </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>


<nav class="nav">
  <a href="/friends" class="nav__btn is--active w-inline-block">
    <%= image_tag "icon-friends-inactive.svg", alt: "Friends Page", class: "nav__btn-icon is--inactive", id: "icon1-inactive" %>
    <%= image_tag "icon-friends-active.svg", alt: "Friends Page", class: "nav__btn-icon" %>
    <div class="nav__btn-title">Friends</div>
  </a>
  <a href="/activities" class="nav__btn w-inline-block">
    <%= image_tag "icon-groups-inactive.png", alt: "Groups Page", class: "nav__btn-icon", id: "icon2-inactive" %>
    <%= image_tag "icon-groups-active.svg", alt: "Groups Page", class: "nav__btn-icon is--inactive" %>
    <div class="nav__btn-title">Activities</div>
  </a>
  <a href="/news" class="nav__btn w-inline-block">
    <%= image_tag "icon-notifications-inactive.svg", alt: "News Page", class: "nav__btn-icon", id: "icon3-inactive" %>
    <%= image_tag "icon-notifications-active.svg", alt: "News Page", class: "nav__btn-icon is--inactive" %>
    <div class="nav__btn-title">Notifications</div>
  </a>
  <a href="/profile" class="nav__btn w-inline-block">
    <div class="nav__btn-icon is--profile">
      <%= cl_image_tag(current_user.photo.key, alt: "Profile image", class: "nav__profile-img", loading: "lazy") %>
    </div>
    <div class="nav__btn-title">Profile</div>
  </a>
</nav>
