<h1>WELCOME TO THE NEW</h1>

<% @friends.each do |friend| %>
    <%=friend.username  %>
    <%= button_to "+", activity_participants_path(activity: @activity, user: friend ) %>

<% end %>

<section class="section">
  <div class="l-container is--min-100vh">
    <div class="index-friends">
      <div class="top-elements">
        <div class="top-elements__back-done">
          <a href="#" class="top-elements__btn-left w-inline-block">
            <%= image_tag "icon-search-black.svg", alt: "search friends", class: "top-elements__btn-icon search-friends", loading: "lazy" %>
          </a>
          <a href="#" class="top-elements__btn is--friend-invite w-inline-block">
            <%= image_tag "icon-invite-friend-thin.png", alt: "invite friends", class: "top-elements__btn-icon invite-friend", loading: "lazy" %>
            <div class="top-elements__btn-text is--invite-friends"></div>
          </a>
        </div>
        <div class="top-elements__title">Friends</div>
      </div>
      <div class="friends">
        <% @friends.each do |friend| %>
          <div class="friends__img-wrp">
            <%= cl_image_tag(friend.photo.key, alt: "friend profile image", class: "friends__img", loading: "lazy") %>
          </div>
          <div class="friends__content-wrp">
            <div class="friends__title"><%= friend.first_name %> <%= friend.last_name %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<%# @friendships.each do |friendship| %>

  <%# @activity.participants.each do |activity| %>
    <%#= friendship.receiver.username unless friendship.receiver.id == activity.user.id %>
  <%# end %>
<%# end %>
  <%# @friends.each do |friend| %>
  <%#= friend %>
  <%# end %>


<%#= simple_form_for([@activity, @participant]) do |f| %>
  <%#= f.input :user, collection: @friends%>
  <%#= f.submit %>
<%# end %>
