<div class="nav">
  <%= link_to friendships_path, class:"nav__btn w-inline-block" do %>
    <%= image_tag "icon-friends-inactive.svg", alt: "Friends Page", class: "nav__btn-icon", id: "icon1-inactive" %>
    <%= image_tag "icon-friends-active.svg", alt: "Friends Page", class: "nav__btn-icon is--inactive" %>
    <div class="nav__btn-title">Friends</div>
  <% end %>
  <%= link_to activities_path, class:"nav__btn w-inline-block" do %>
    <%= image_tag "icon-groups-inactive.png", alt: "Groups Page", class: "nav__btn-icon", id: "icon2-inactive" %>
    <%= image_tag "icon-groups-active.svg", alt: "Groups Page", class: "nav__btn-icon is--inactive" %>
    <div class="nav__btn-title">Activities</div>
  <% end %>
  <%= link_to notifications_path, class:"nav__btn w-inline-block" do %>
    <%= image_tag "icon-notifications-inactive.svg", alt: "News Page", class: "nav__btn-icon", id: "icon3-inactive" %>
    <%= image_tag "icon-notifications-active.svg", alt: "News Page", class: "nav__btn-icon is--inactive" %>
    <div class="nav__btn-title">Notifications</div>
  <% end %>
  <%= link_to profile_path, class:"nav__btn w-inline-block" do %>
    <div class="nav__btn-icon is--profile">
      <%= cl_image_tag(current_user.photo.key, alt: "Profile image", class: "nav__profile-img", loading: "lazy") %>
    </div>
    <div class="nav__btn-title">Profile</div>
  <% end %>
</div>
