<section class="section">
  <div class="l-container is--min-100vh">
    <div class="index-friends">
      <div class="top-elements">
        <div class="top-elements__back-done">
          <a href="#" class="top-elements__btn-left w-inline-block">
            <%= image_tag "icon-search.svg", alt: "search friends", class: "top-elements__btn-icon", loading: "lazy" %>
          </a>
          <a href="#" class="top-elements__btn is--friend-invite w-inline-block">
            <%= image_tag "icon-invite.svg", alt: "invite friends", class: "top-elements__btn-icon", loading: "lazy" %>
            <div class="top-elements__btn-text is--invite-friends">Invite friends</div>
          </a>
        </div>
        <div class="top-elements__title">Friends</div>
      </div>
      <div class="friends">
        <% @friendships.each do |friendship| %>
          <% if friendship.asker == current_user %>
              <%= link_to profile_path(friendship.receiver.id), class: "friends__box w-inline-block" do %>
                <div class="friends__img-wrp">
                  <%= cl_image_tag(friendship.receiver.photo.key, alt: "friend profile image", class: "friends__img", loading: "lazy") %>
                </div>
                  <div class="friends__content-wrp">
                    <div class="friends__title"><%= friendship.receiver.first_name %> <%= friendship.receiver.last_name %></div>
                    <div class="friends__subheadline">2 activities in common
                    <br>
                      Total activities from <%= friendship.receiver.username %>:<%= friendship.receiver.activities.size %>
                    <br>
                      Total activities from <%= friendship.asker.username %>:<%= friendship.asker.activities.size %>
                    </div>
                  </div>
              <% end %>
          <% else %>
            <%= link_to profile_path(friendship.asker.id), class: "friends__box w-inline-block" do %>
                    <div class="friends__img-wrp">
                      <%= cl_image_tag(friendship.asker.photo.key, alt: "friend profile image", class: "friends__img", loading: "lazy") %>
                    </div>
                    <div class="friends__content-wrp">
                      <div class="friends__title"><%= friendship.asker.first_name %> <%= friendship.asker.last_name %></div>
                      <div class="friends__subheadline">5 activities in common</div>
                    </div>
              <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
<div class="nav">
  <%= link_to friendships_path, class:"nav__btn is--active w-inline-block" do %>
    <%= image_tag "icon-friends-inactive.svg", alt: "Friends Page", class: "nav__btn-icon is--inactive", id: "icon1-inactive" %>
    <%= image_tag "icon-friends-active.svg", alt: "Friends Page", class: "nav__btn-icon" %>
    <div class="nav__btn-title">Friends</div>
  <% end %>
  <%= link_to activities_path, class:"nav__btn w-inline-block" do %>
    <%= image_tag "icon-groups-inactive.png", alt: "Groups Page", class: "nav__btn-icon", id: "icon2-inactive" %>
    <%= image_tag "icon-groups-active.svg", alt: "Groups Page", class: "nav__btn-icon is--inactive" %>
    <div class="nav__btn-title">Activities</div>
  <% end %>
  <%= link_to friendships_path, class:"nav__btn w-inline-block" do %>
    <%= image_tag "icon-notifications-inactive.svg", alt: "News Page", class: "nav__btn-icon", id: "icon3-inactive" %>
    <%= image_tag "icon-notifications-active.svg", alt: "News Page", class: "nav__btn-icon is--inactive" %>
    <div class="nav__btn-title">Notifications</div>
  <% end %>
  <%= link_to profile_path(current_user), class:"nav__btn w-inline-block" do %>
    <div class="nav__btn-icon is--profile">
      <%= cl_image_tag(current_user.photo.key, alt: "Profile image", class: "nav__profile-img", loading: "lazy") %>
    </div>
    <div class="nav__btn-title">Profile</div>
  <% end %>
</div>
