<% if user_signed_in? %>
  <section class="section">
    <div class="l-container">
      <h1 class="personalized-header">Hello <%= current_user.first_name %>!</h1>
      <br>
      <p class="greeting">Welcome to our app!
      <br>
      You may now invite your friends to all kinds of awesome activities!</p>
      <lottie-player src="https://assets6.lottiefiles.com/private_files/lf30_j9benkgr.json" background="transparent" speed="1" loop autoplay></lottie-player>
      <%= link_to "Discover all activities!", activities_path, class: "btn-signup" %>
      <br>
   </div>
</section>

<% else %>
  <section class="section">
    <div class="l-container is--home">
      <h1 class="home__h1">Organize activites with your friends, propose your ideas and vote!</h1>
      <div class="home__subheadline">Group decisions made easier</div>
      <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_h1bogema.json" background="transparent" class="home__lottie" speed="1" loop autoplay></lottie-player>
      <div class="home__btns-wrp">
        <%= link_to new_user_session_path, class:"button is--inverted w-inline-block" do %>
          <div>Login</div>
        <% end %>
        <%= link_to new_user_registration_path, class:"button w-inline-block" do %>
          <div>Signup</div>
        <% end %>
        </a>
      </div>
    </div>
  </section>

  <%# <%= link_to 'Sign out', destroy_user_session_path, data: {turbo_method: :delete} %>
<% end %>
