<div class="form-proposal">
  <div class="l-container is--min-100vh is--proposal-form">
    <div class="top-elements is--fixed">
      <div class="top-elements__back-done">
      <%= link_to image_tag("icon-arrow-back-black.svg", alt: "back button", class: "top-elements__icon", loading: "lazy"), activity_path(@activity), class: "top-elements__btn-left is--back-arrow w-inline-block" %>
      </div>
      <div class="top-elements__title">
          <% if params[:action] == 'new' %>
            Add new Proposal
          <% else %>
            Proposal Settings
          <% end %>
        </div>
      </div>

    <div class="form-prop">
      <%= simple_form_for([@activity, @proposal]) do |a| %>
        <div class="form-prop__input">
          <div class="form-prop__label">Title</div>
          <%= a.input_field :title, class: "form-prop__field is--title" %>
        </div>
        <div class="form-prop__input">
          <div class="form-prop__label">Description</div>
          <%= a.input_field :description, as: :rich_text_area, class: "form-prop__field" %>
        </div>
        <%= a.button :submit, "Submit", class: "top-elements__btn is--proposal-done w-inline-block" %>
      <% end %>
    </div>
    <% if @proposal.id %>
      <%= link_to "Delete Proposal", proposal_path(@proposal), class: "general__delete-btn", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete your proposal?" } %>
    <% end %>
  </div>
</div>
