<div class="px-2">

<br>
<br>

<h1 class="proposal-title"><%= @proposal.title %></h1>

<br>

  <div class="grid-container">
    <div class="look-at-the-person">
    Proposed by <%= @proposal.user.first_name %>
    </div>

    <div class="display-current-voting">
      <%= image_tag asset_path("proposals/arrow.png"), class: "arrow-symbol"%>
    </div>
  </div>

  <br>

   <p class="description-text">Description</p>
   <br>
    <div class="description-container px-3">
      <%= @proposal.description %>
    </div>
  <br>
  <br>

  <div class="grid-container">
  <%= link_to "Go back to activity", activity_path(@activity), class: "btn-proposal1" %>

  <%  if current_user == @proposal.user %>
    <%= link_to "Delete this proposal", proposal_path(@proposal), class: "btn-proposal2", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    <% end  %>
  </div>
</div>

<br>
<br>
