<div class="form-activity">
  <div class="l-container is--min-100vh is--act-form">
    <div class="top-elements is--fixed">
      <div class="top-elements__back-done">
        <a href="#" class="top-elements__btn-left is--back-act-new w-inline-block" data-action="click->activity-form#closeForm">
          <%= image_tag "icon-arrow-back-black.svg", alt: "back button", class: "top-elements__icon", loading: "lazy" %>
        </a>
      </div>
      <div class="top-elements__title">
        <% if @update %>
          Activity Settings
        <% else %>
          Create new Activity
        <% end %>
      </div>
    </div>

    <div class="form-act">
      <%= simple_form_for activity do |a| %>
        <div class="form-act__img-n-name">
          <div class="form-act__img-circle">
            <%= a.input :photo, as: :file, label: false %>
            <%= image_tag "icon-camera-01.svg", alt: "image upload", loading: "lazy" %>
          </div>
          <div class="form-act__name">
            <%= a.input_field :title, class: "form-act__name", placeholder: "Activity Name"  %>
          </div>
        </div>
        <div class="form-act__input">
          <div class="form-act__label">Description</div>
          <%= a.input_field :description, as: :text, class: "form-act__field" %>
        </div>
        <div class="form-act__input">
          <div class="form-act__label">Activity Type</div>
          <%= a.input_field :activity_type, collection: Activity::ACTIVITY_TYPE, class: "form-act__field is--type" %>
        </div>
        <div class="form-act__dates">
          <div class="form-act__date-wrp">
            <div class="form-act__date-title">Voting due date *</div>
            <div class="form-act__date-box">
              <%= a.input_field :deadline_date, start_year: Date.today.year - 50,
                                  end_year: Date.today.year - 12,
                                  as: :date, html5: true, data: { action: 'change->activity-form#deadlineDate' }
              %>
            </div>
            <div class="form-act__date-full" id="deadline_date">Before Activity Date</div>
          </div>
          <div class="form-act__date-wrp  is--right">
            <div class="form-act__date-title">Activity date</div>
            <div class="form-act__date-box">
              <%= a.input_field :activity_date, start_year: Date.today.year - 50,
                                  end_year: Date.today.year - 12,
                                  as: :date, html5: true,
                                  data: { action: 'change->activity-form#activityDate' }
              %>
            </div>
            <div class="form-act__date-full" id="activity_date">Happening when?</div>
          </div>
        </div>
        <div class="form-act__toggle-wrp">
          <div class="form-act__toggle-row">
          <div class="form-act__tottle-text">Make proposals anonymous</div>
            <div class="form-check form-switch">
              <%= a.input :anonymity, :as => :boolean, label: false, :input_html => { class: "form-check-input", id: "flexSwitchCheckDefault"  } %>
            </div>
          </div>
        </div>
        <% if @update %>
          <%= a.button :submit, "Update", class: "top-elements__btn is--act-done is--update w-inline-block" %>
        <% else %>
          <%= a.button :submit, "Done", class: "top-elements__btn is--act-done w-inline-block" %>
        <% end %>
      <% end %>
    </div>
    <% if @activity.id %>
      <%= link_to "Delete Activity", activity_path(@activity), class: "general__delete-btn", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this activity?" } %>
    <% end %>
  </div>
</div>
